@import url('https://fonts.googleapis.com/css?family=Monoton&display=swap');

.header {
  /* display: flex; */
  padding-top: 0.75rem;
  border-bottom-width: 10px;
  border-color: var(--fg-2);
}

.header h1 {
  font-family: 'Monoton';
  font-weight: normal;
  text-align: center;
}

.links {
  display: block;
  margin: 1rem auto;
  max-width: 500px;
  text-align: center;
}

.links a {
  width: 48px;
  height: 48px;
  margin: 0 10px;
  display: inline-block;
  transition: opacity 200ms ease;
}

.links svg {
  fill: var(--fg-2);
}

.links a:hover {
  opacity: 0.6;
}

.avatar {
  display: block;
  text-align: center;
  margin: 1rem 0;
}

.avatar img {
  height: 120px;
}

.name {
  text-align: center;
}

.name a {
  color: inherit;
}
