@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');

.header {
  display: block;
  min-height: 64px;
  padding: 0.1em 0;
  text-align: center;
  letter-spacing: -0.02em;
}

.navbar {
  font-family: 'Bebas Neue', 'Ubuntu Mono';
  list-style: none;
  padding: 0;
  margin: 1rem;
  font-size: 1.3rem;
  font-weight: normal;
}

.header ul {
  list-style: none;
  padding: 0;
}

.header ul li {
  display: inline-block;
  margin: 0px;
  padding: 0px 2rem;
}

.header :global(a) {
  color: var(--accents-3);
}

.header :global(a.active) {
  color: var(--accents-1);
}

@media (max-width: 800px) {
  .header {
    padding: 0;
  }
  .header ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .header ul li {
    display: inline-block;
    margin: 0;
    padding: 0 1rem;
  }

  .navbar a {
    font-family: 'Bebas Neue';
    font-size: 22px;
  }
}
